main {
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.main__left {
    width: 50%;
    padding: 25px;
    margin-top: 50px;
}

.main__right {
    width: 40%;
    padding: 20px;
    margin-top: 50px;
}

.main__left__img {
    display: block;
    width: 100%;
    max-width: 550px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.main__right__name {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

.main__right__brand {
    font-size: 16px;
    margin-bottom: 10px;
}

.main__right__price {
    font-size: 30px;
}

.text-red {
    color: red;
}

.main__right__icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;

}

.icon-heart,
.icon-comment{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-count {
    font-size: 14px;
    margin-top: 0px;
    color: black;
}

.main__right__purchase--button,
.main__right__comment--button {
    background-color: red;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.main__right__subtitle--info,
.main__right__subtitle--description,
.main__right__subtitle--comment{
    font-size: 25px;
}

.main__right__subtitle--description{
    margin: 20px 0px 0px 0px;
}

.main__right__textarea{
    width: 100%;
    height: 200px;
    font-size: 16px;
}

.category__class,
.condition__class{
    display: flex;
    padding: 10px 0px 10px 0px;
}

.main__right__subtitle--sub{
    min-width: 100px;
    margin:5px 50px 5px 0px;
    align-items: center;
}

.categories,
.conditions{
    display: flex;
    align-items: center;
}

.categories {
    flex-wrap: wrap;
    gap: 10px;
}

.main__right__category{
    background-color: #dfdfdf;
    border-radius: 20px;
    height: 30px;
    margin: 5px;
    align-items: center;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%;
}

.main__right__condition{
    margin: 5px;
    align-items: center;
}

.main__right__subtitle--comment{
    color: rgb(101, 101, 101);
}

.main__right__comment--img--name{
    display: flex;
    margin-bottom: 10px;
}

.comment-avatar,
.main__right__user--name{
    align-content: center;
    font-weight: bolder;
}

.main__right__user--comment{
    background-color: gainsboro;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.main__right__subtitle--subtitle{
    margin: 5px 0px;
    font-size: 20px;
}


.main__right__comment--area{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
