main {
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.main__left,
.main__right {
    width: 40%;
    padding: 20px;
    margin-top: 50px;
}

.main__left__img {
    display: block;
    width: 95%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.main__right__name {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

.main__right__brand {
    font-size: 16px;
    margin-bottom: 10px;
}

.main__right__price {
    font-size: 30px;
}

.fa-heart,
.fa-comment {
    font-size: 24px;
    margin: 20px;
    vertical-align: middle;
}

.text-red {
    color: red;
}

.main__right__icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;

}

.icon-block i {
    font-size: 25px;
    margin-bottom: 2px;
}

.icon-count {
    font-size: 14px;
    margin-top: 0px;
    color: black;
}

.main__right__purchase--button,
.main__right__comment--button {
    background-color: red;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.main__right__subtitle--info,
.main__right__subtitle--description,
.main__right__subtitle--comment{
    font-size: 25px;
}

.main__right__subtitle--description{
    margin: 20px 0px 0px 0px;
}

.main__right__textarea{
    width: 100%;
    height: 200px;
    font-size: 16px;
}

.category__class,
.condition__class{
    display: flex;
    padding: 5px 0px 20px 0px;
}

.main__right__subtitle--sub{
    margin:5px 50px 5px 0px;
    align-items: center;
}

.categories,
.conditions{
    display: flex;
    align-items: center;
}

.main__right__category{
    background-color: gray;
    color: white;
    border-radius: 20px;
    height: 30px;
    margin: 5px;
    align-items: center;
}

.main__right__condition{
    margin: 5px;
    align-items: center;
}

.main__right__comment--img--name{
    display: flex;
    margin-bottom: 10px;
}

.comment-avatar,
.main__right__user--name{
    align-content: center;
    font-weight: bolder;
}

.main__right__user--comment{
    background-color: gainsboro;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.main__right__subtitle--subtitle{
    margin: 5px 0px;
    font-size: 20px;
}


.main__right__comment--area{
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}