
.main__tab{
    height: 100px;
    border-bottom: solid 1px black;
    position: relative;
}

.main__tab__inner{
    position: absolute;
    bottom: 0;
    left: 0px;
    display: flex;
    gap: 80px;
    padding-left: 200px;
    font-weight: bold;
}

.main__tab__inner a{
    text-decoration: none;
}

.main__tab--favorite{
    color: red;
}

.main__tab--mylist{
    color: black;
}
