
.main__tab{
    height: 100px;
    border-bottom: solid 1px black;
    position: relative;
}

.main__tab__inner{
    position: absolute;
    bottom: 0;
    left: 0px;
    display: flex;
    gap: 80px;
    padding-left: 200px;
    font-weight: bold;
}

.main__tab__inner a{
    text-decoration: none;
}

.main__tab--favorite{
    color: red;
}

.main__tab--mylist{
    color: black;
}

.main__tab--black {
    color: black;
}

.main__product {
    max-width: 1400px;
    margin: 0 auto;
}

.main__product--inner {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.main__product--inner ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: flex-start;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.main__product--inner li {
    width: 20%;
    text-align: center;
}

.main__product--inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    background-color: #eee;
}

.main__product--inner h3 {
    text-align: left;
    color: black;
}


.main__product--inner a {
    text-decoration: none;
}


.main__product--inner li a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}