
.main__tab{
    height: 100px;
    border-bottom: solid 1px black;
    position: relative;
}

.main__tab__inner{
    display: flex;
    width: 60%;
    font-weight: bold;
    margin: 0 auto;
    gap: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main__tab__inner a{
    text-decoration: none;
}

.main__tab--favorite{
    color: red;
}

.main__tab--mylist{
    color: black;
}

.main__tab--black {
    color: black;
}

.main__product {
    max-width: 1400px;
    margin: 0 auto;
}

.main__product--inner {
    width: 95%;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 auto;
}

.main__product--ul {
    display: flex;
    flex-wrap: wrap;
    gap: 33.5px;
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

.main__product--li{
    justify-content: flex-start;
    width: 23%;
    text-align: center;
}

.main__product--inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    background-color: #eee;
}

.main__product--inner h3 {
    text-align: left;
    color: black;
}


.main__product--inner a {
    text-decoration: none;
}


.main__product--inner li a:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.sold-label{
    font-weight: bold;
    color: red;
    border: solid 1px red;
    border-radius: 3px;
}