header{
    background-color: black;

}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0px 20px;
    height: 100px;
}

.header__inner input{
    width: 25%;
    height: 35px;
}

.header__inner__sell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    text-decoration: none;
    width: 60px;
    height: 35px;
    border-radius: 4px;
}