.profile__content {
    margin: 0 auto;
    padding: 20px 0px;
    max-width: 1400px;
}

.profile-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.form__profile__image{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.profile__image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: solid 1px none;
    background-color: rgb(183, 180, 180);
}

.profile__image__button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    border: solid 1px red;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin-left: 20px;
}


.form__group-title {
    text-align: left;
}

.form__label--item {
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}