.main__inner{
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.main__left{
    width: 55%;
    margin-top: 80px;
}

.main__right {
    width: 30%;
    margin-top: 80px;
}

.left__item{
    display: flex;
    border-bottom: 1px solid black;
    height: 250px;
    width: 100%;
}


.left__item__img__--inner{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.left__item__content h2{
    margin: 0px 0px 10px 0px;
}

.left__item__content p{
    font-size: 30px;
    margin: 0;
}

.left__method{
    height: 160px;
    border-bottom: 1px solid black;
    width: 100%;
}

.left__method__inner,
.left__address__inner {
    width: 90%;
    margin: 0 auto;
}

.left__method__inner select{
    width: 220px;
    height: 25px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 50px;
    margin-top: 10px;
}

.left__address {
    height: 160px;
    border-bottom: 1px solid black;
    width: 100%;
}

.address__inner__address{
    font-weight: bold;
}

.address__inner__shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address__inner__shipping a {
    display: inline-block;
    margin-bottom: 10px;
    color: blue;
    text-decoration: none;
}

.address__inner__address{
    margin-left: 50px;
}

.main__right table {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.main__right td {
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}

.main__right td.td__price {
    font-size: 32px;
}

.purchase__button {
    display: inline-block;
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    padding: 12px 24px;
    font-size: 25px;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    margin-left: 50px;
}