.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.form__group-title {
    text-align: left;
}

.form__label--item {
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5555;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: 45px;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.login__button-submit {
    color: blue;
    font-size: 15px;
    text-decoration: none;
}